.wrapper{
    max-width: 46rem;
    margin: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;
}
.tasks_status{
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    
}
.tasks_status strong{
    margin-right: 0.5rem;
}
.finished_tasks{
    color: var(--purple);
}
.created_tasks{
    color: var(--blue);
}
.tasks_count{
    color: var(--gray-200);
    font-weight: bold;
    background: var(--gray-400);
    padding: 1px 0.5rem ;
    line-height: 0.875rem;
    font-size: 0.75rem;
    border-radius: 1rem;
}
.no_tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1.5rem;
}
.notePad_logo{
    margin-bottom: 1rem;
    color: var(--gray-300);
}
.tasks_container{
    border-top: 1px solid var(--gray-300);
    border-radius: 4px;
}
.newTask{
    margin-bottom: 2.5rem;
}
/* section{
    transform: translate(0px, -15%);
} */